.dropdown-menu {
     margin: 0;
}
.dropdown.nav-item.my-auto:hover .dropdown-menu {
     display: block !important;
}
.dropdown-toggle::after {
     display: none;
}
.dropdown-toggle.nav-link span::after {
     display: inline-block;
     margin-left: .255em;
     vertical-align: .255em;
     content: "";
     border-top: .3em solid;
     border-right: .3em solid transparent;
     border-bottom: 0;
     border-left: .3em solid transparent;
}
.dropdown-menu .nav-link span {
padding: 0 !important;
border: none !important;
line-height: 30px;
margin-left: 21px;
display: inline-block;
}
.main_content {
margin-top: 5rem !important;
}
.search_bar {
margin: 1.5rem 0;
}


.search-bar-container.fill-background.not-homepage {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
position: relative;
/* background-color: #14303e; */
top: auto;
left: auto;
-ms-transform: translate(0,0);
transform: translate(0,0);
width: 100%;
min-height: 100px;
}
[_nghost-nqw-c11] {
width: 100%;
}
.search-bar[_ngcontent-nqw-c11] {
max-width: 960px;
margin: 0 auto;
}
.not-homepage[_nghost-nqw-c11] .search-bar-wrapper[_ngcontent-nqw-c11], .not-homepage [_nghost-nqw-c11] .search-bar-wrapper[_ngcontent-nqw-c11] {
margin-bottom: 0;
}
.search-bar-wrapper[_ngcontent-nqw-c11] {
display: -ms-flexbox;
display: flex;
max-width: 780px;
/* background-color: rgba(0,0,0,.1); */
/* padding: .5em; */
margin: 0 auto 1%;
-ms-flex-pack: justify;
justify-content: center;
}
/* .search-bar-wrapper[_ngcontent-nqw-c11] > .drop-down[_ngcontent-nqw-c11] {
-ms-flex-positive: .08;
flex-grow: .08;
} */
.search-bar-wrapper[_ngcontent-nqw-c11] > .drop-down[_ngcontent-nqw-c11] > label[_ngcontent-nqw-c11] {
position: relative;
}
.search-bar-wrapper[_ngcontent-nqw-c11] > .drop-down[_ngcontent-nqw-c11] > label[_ngcontent-nqw-c11]::before {
content: '';
right: 4px;
top: 0;
background: #fff;
position: absolute;
pointer-events: none;
display: block;
}
.search-bar-wrapper[_ngcontent-nqw-c11] > .drop-down[_ngcontent-nqw-c11] > label[_ngcontent-nqw-c11] > select[_ngcontent-nqw-c11] {
padding: 0.38em .37em .37em .5rem;
width: 100%;
height: 100%;
margin: 0;
color: #000;
border: none;
font-weight: 700;
/* background-color: #ddd; */
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
border: 1px solid #ddd;
border-radius: 4px;
}
.search-bar-wrapper[_ngcontent-nqw-c11] > .drop-down[_ngcontent-nqw-c11] > label[_ngcontent-nqw-c11] > select[_ngcontent-nqw-c11] {
color: #000;
font-weight: 700;
}
/* .search-bar-wrapper[_ngcontent-nqw-c11] > .search-field[_ngcontent-nqw-c11] {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: space-evenly;
justify-content: space-evenly;
-ms-flex-positive: 1;
flex-grow: 1;
} */


#navbar_main .nav-item .nav-link:hover {
	color: red;
	transition: .4s;
}
.dropdown-menu {
	position: absolute;
	top: 150%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	/* min-width: 0; */
	margin: 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	min-width: 290px;
	padding: 0;
}
.dropdown-menu a {
	color: #000;
	display: inherit;
	padding: 10px ;
	background: transparent;
	margin: 2px 0;
	border-radius: 3px;
	transition: .4s;
	text-decoration: none;
}
.dropdown-menu a:hover {
	color :#fff;
	background: rgb(241, 48, 48);
}
.dropdown-menu .nav-link {
	margin: 2px 0 !important;
	padding: 3px 25px !important;
	background: transparent;
	border-radius: 4px;
	transition: .4s;
}

.dropdown-menu .nav-link:hover {
	background: #8cc63f;
}
.dropdown-menu .nav-link span {
	margin: 0;
}
#navbar_main .nav-item .nav-link span {
	border-right: 2px solid grey;
	padding: 11px 10px;
	border-radius: 5px;
	padding-right: 0 !important;
	transition: .4s;
}
#navbar_main .nav-item .nav-link span:hover {
	border-right: 6px solid grey;
	background: rgb(241, 48, 48);
	color: #fff;
}
.navbar-brand {
	display: inline-block;
	padding-top: 0;
	padding-bottom: .0;
	margin-left: 3rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	width: 25%;
	margin-right: 0;
}
.navbar-brand img {
	width: 100%;
	height: 100%;
}

.btn-outline-primary {
	color: #007bff;
	border-color: #007bff;
	color: #DC143C;
	background-color: transparent;
	background-image: none;
	border-color: #9a82b3;
	transition: .4s;
}
.btn.btn-outline-primary.btn-lg.btn-block:hover {
	color: #fff;
	background-color: #DC143C;
	border-color: #DC143C;
}
.al_sub {
	position: absolute;
	right: 45px;
	top: 7%;
	z-index: 999;
}
	.al_sub span {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 12px;
	color: #fff;
	/* text-align: center; */
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
	margin-top: 5px;
	margin-left: 8px;
}
@media all and (max-width: 1258px){
	#navbar_main .nav-item .nav-link {
		font-size: 13px;
		transition: .4s;
	}
	.mb-auto, .my-auto {
		font-size: 14px;
	}
}
@media all and (max-width: 1179px){
	#navbar_main .nav-item .nav-link {
		font-size: 13px;
		transition: .4s;
	}
	.mb-auto, .my-auto {
		font-size: 13px;
	}
	.navbar-brand {
		width: 20%;
	}
}
@media all and (max-width: 1088px){
	#navbar_main .nav-item .nav-link span {
		padding: 10px 10px;
	}
	#navbar_main .nav-item .nav-link {
		font-size: 12px;
		margin-right: 10px;
	}
	.al_sub {
		top: 14%;
	}
	
}

@media all and (max-width:991px){
	/* #navbar_main .nav-item .nav-link {
		font-size: 14px;
		margin-right: 10px;
	}
	#navbar_main .nav-item .nav-link span {
		padding: 10px 17px;
	} */
	#navbar_main .nav-item .nav-link {
		font-size: 13px;
		margin-right: 9px;
	}
	#navbar_main .nav-item .nav-link span {
		padding: 10px 5px;
	}
	.navbar-brand {
		width: 25%;
	}
	.nav-item.my-auto.al-md {
		margin-right: 25px;
	}
}
@media all and (max-width: 800px){
	.nav-item.my-auto.al-md {
		margin-right: 2px;
	}
}
@media all and (max-width: 767px){
	.navbar-brand {
		width: 33%;
	}
	.text_custom_center {
		text-align: center;
	}
	#navbar_main .nav-item .nav-link {
		font-size: 13px;
		margin-right: 9px;
		display: inline-block;
		padding: 15px;
	}
	.al_sub {
		top: 7.8%;
	}
}

